In [32]:
import pandas as pd
import numpy as np
import stemgraphic as stm
from scipy import stats as st

In [17]:
data1 = [590,815,575,609,350,1285,408,540,555,679]
data2 = pd.DataFrame(data = data1, columns = ['Data'])
data2.mean()

Data    640.6
dtype: float64

In [18]:
data2.median()

Data    582.5
dtype: float64

In [19]:
data2

   Data
0   590
1   815
2   575
3   609
4   350
5  1285
6   408
7   540
8   555
9   679

In [28]:
data4 = [590,815,575,609,350,985,408,540,555,679]
data5 = pd.DataFrame(data = data4, columns = ['Data'])

In [30]:
data5.mean()

Data    610.6
dtype: float64

In [31]:
data5.median()

Data    582.5
dtype: float64

In [34]:
st.trim_mean(data2['Data'], proportiontocut = 0.20)

591.3333333333334

In [35]:
st.trim_mean(data2['Data'], proportiontocut = 0.15)

596.375